PUERTO=3000
ENTORNO=desarrollo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=monify
DB_PORT=5433
DATABASE_URL=postgresql://postgres:change-me@localhost:5433/monify
# Genera una clave con: openssl rand -base64 32
ENCRYPTION_KEY=
JWT_SECRET=openssl rand -hex 32